:host{
    background-color: white;
    border:1px solid black;
    height: 50px;
}

.controls-body{
    padding: 5px;
    text-align: center;
}

.myBtn{
    margin-left:5px;
    border:1px solid red;
}